---
import { Image } from '@astrojs/image/components'

import BaseHead from '../components/BaseHead.astro'
import BlogHeader from '../components/BlogHeader.astro'
import BlogFooter from '../components/BlogFooter.astro'
import BlogPost from '../components/BlogPost.astro'
import GitHubRibbon from '../components/GitHubRibbon.vue'

import '../assets/lib/customize/_article.scss'
import '../assets/lib/customize/_twitter.scss'
import '../assets/lib/_layout.scss'
import '../assets/player.scss'
import '../assets/section.scss'
import '../assets/summary.scss'
import Icon from '../components/Icon.astro'

const { content, headings } = Astro.props
const { lang, title, explain, slug, publishDate, author, heroImage, permalink, url, alt } = content

let allPosts = await Astro.glob('../pages/posts/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())

let allIcons = [
  { name: 'github', url: 'https://github.com/jiyuujin' },
  // { name: 'hatena', url: 'https://hatena.ne.jp/' },
  { name: 'note', url: 'https://note.com/uraneko' },
  { name: 'twitter', url: 'https://twitter.com/jiyuujinlab' },
]
---

<html lang={lang || 'ja'}>
  <head>
    <BaseHead
      {title}
      description={explain}
      {permalink}
      image={`https://ohayo-ai.nekohack.me/og/${slug}.png`}
    />

    <style is:global>
      body {
        background-color: rgba(232, 242, 255, 100%);
        color: #303030;
      }

      a {
        color: #303030;
      }

      .article .post-detail h2,
      .article .post-detail h3,
      .article .post-detail h4,
      .article .post-detail p,
      .article .post-detail li,
      .article .post-detail td,
      .article .post-detail tr {
        color: #303030;
      }
    </style>
  </head>

  <body>
    <GitHubRibbon />
    <div class="header">
      <BlogHeader {title} description={explain} />
    </div>
    <div class="section">
      <div class="main">
        <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
          <div class="article">
            <div class="post-detail">
              <div style={{ textAlign: "left" }}>
                <div class="headline">{explain}</div>
              </div>
              <slot />
            </div>
          </div>
        </BlogPost>
      </div>
      <div class="side">
        <div class="avatar">
          <Image
            src="https://i.imgur.com/X0CcoU9.jpg"
            alt=""
            width={144}
            height={144}
          />
        </div>
        <div class="social">
          {allIcons.map((s) => (
            <a href={s.url} target="_blank" rel="noopenner noreferrer">
              <Icon name={`${s.name}_logo`} />
            </a>
          ))}
        </div>
        {headings.filter((h) => h.depth === 3).length !== 0 && (
          <div aria-label="Blog toc">
            <h2>目次</h2>
            <div class="grid">
              {headings
                .filter((h) => h.depth === 3)
                .map((h) => (
                  <p>
                    <a href={`${url}#${h.slug}`}>
                      {h.text}
                    </a>
                  </p>
                ))}
            </div>
          </div>
        )}
        <div aria-label="Blog recent list">
          <h2>最近 (直近 5 件) の投稿</h2>
          <div class="grid">
            {allPosts
              .slice(0, 5)
              .map((p) => (
                <p>
                  <a href={p.url}>
                    {p.frontmatter.title}
                  </a>
                </p>
              ))}
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <BlogFooter {author} />
    </div>
  </body>
</html>
