---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Nav from '../components/Nav.astro'

let title = '週刊フロントエンドエンジニア';
let description = 'The perfect product for your own technews.';
let permalink = 'https://friday.nekohack.me/';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <Nav>
      <div class="nav">
        <BlogHeader title={title} description={description} />
      </div>
    </Nav>
    <div class="content">
      <div aria-label="Blog post list">
        <div class="grid">
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </div>
      </div>
    </div>
</body>
</html>

<style>
  .nav {
    z-index: 199;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
    background: #fff;
    transition: 200ms;
  }

  .content {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto, 1fr, auto);
  }
</style>
