---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

let title = '金曜日のエンジニアのつどい';
let description = '週刊でエンジニア界隈の最新情報を記録しています';
let permalink = 'https://friday.nekohack.me/';
let author = 'jiyuujin';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <div class="header">
      <BlogHeader title={title} description={description} />
    </div>
    <div class="content">
      <h2>投稿の一覧</h2>
      <div aria-label="Blog post list">
        <div class="grid">
          {allPosts.map((p) => <BlogPostPreview post={p} />)}
        </div>
      </div>
    </div>
    <div class="footer">
      <BlogFooter {author} />
    </div>
  </body>
</html>

<style>
  .header {
    z-index: 199;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    transition: 200ms;
  }

  .content {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .content :global(main > * + *) {
    margin-top: 1rem;
  }

  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto, 1fr, auto);
  }
</style>
