---
import { Post } from '@ohayo/react-ui'

import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import GitHubRibbon from '../components/GitHubRibbon.vue';

let title = 'AIer.info';
let description = '週刊でAI界隈の最新情報を記録しています';
let permalink = 'https://ohayo-ai.nekohack.me/';
let author = 'jiyuujin';

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
    <style>
      body {
        background: rgba(167, 123, 243, 0.1);
      }

      main {
        background: #fff;
        height: 100vh;
        overflow-y: scroll;
      }

      .header {
        z-index: 199;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background: #fff;
        transition: 200ms;
      }

      .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto, 1fr, auto);
        padding: 8px 48px;
      }

      .grid {
        border-bottom: 1px solid #e6f6f5;
      }

      @media(min-width: 768px) {
        .grid {
          padding: 8px 16px;
        }
      }
    </style>
  </head>

  <body>
    <GitHubRibbon />
    <main>
      <div class="header">
        <BlogHeader description={description} />
      </div>
      <div class="content">
        <div class="grid" aria-label="Blog post list">
          {allPosts.map((p) =>
            <Post
              url={p.url}
              title={`${p.frontmatter.title}: ${p.frontmatter.explain}`}
            />
          )}
        </div>
        </div>
      <div class="footer">
        <BlogFooter {author} />
      </div>
    </main>
  </body>
</html>
