---
import BaseHead from '../components/BaseHead.astro'
import BlogPost from '../components/BlogPost.astro'

import '../assets/lib/customize/_article.scss'
import '../assets/lib/customize/_twitter.scss'
import '../assets/lib/_layout.scss'

const { content } = Astro.props
const { lang, title, description, publishDate, author, heroImage, permalink, alt } = content
---

<html lang={lang || 'ja'}>
  <head>
    <BaseHead {title} {description} {permalink} />

    <style is:global>
      /* ダークモードを使わない場合 */
      body {
        background-color: rgba(232, 242, 255, 100%);
        color: #303030;
      }

      a {
        color: #303030;
      }

      main {
        background-color: transparent;
      }

      .article .post-detail h2,
      .article .post-detail h3,
      .article .post-detail h4,
      .article .post-detail p,
      .article .post-detail li,
      .article .post-detail td,
      .article .post-detail tr {
        color: #303030;
      }

      @media (prefers-color-scheme: dark) {
        .article .post-detail h2,
        .article .post-detail h3,
        .article .post-detail h4,
        .article .post-detail p,
        .article .post-detail li,
        .article .post-detail td,
        .article .post-detail tr {
          color: #303030;
        }
      }
    </style>
  </head>

  <body>
    <div class="section">
      <BlogPost {title} {author} {heroImage} {publishDate} {alt}>
        <div class="article">
          <div class="post-detail">
            <slot />
          </div>
        </div>
      </BlogPost>
    </div>
  </body>
</html>
